header {
    width: 100vw;

}

.menu-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 8rem;


    .logo {
        width: 166.44px;
        height: 64.5px;

        @media (max-width: 480px) {
            width: 133.44px;
            height: 34.5px;

        }

    }

    span {
        width: 400px;

        @media (max-width: 480px) {
            display: none;
        }
    }

    .menu-nav {
        display: flex;
        flex-direction: row;
        width: 277px;
        height: 1rem;
        justify-content: space-evenly;

        @media (max-width: 480px) {
            width: 210px;
            align-items: center;

        }

        li {
            color: #234E71;
            font-size: 24px;
            list-style: none;
            font-family: 'Inter';

            @media (max-width: 480px) {
                font-size: 18px;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .social-medias {
        width: 90px;
        height: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @media (max-width: 480px) {
            width: 70px;
            height: 5px;
        }

        img {
            width: 16px;
            height: 16px;

            @media (max-width: 480px) {
                width: 12px;
                height: 12px;
            }
        }
    }
}